@model Vidly.ViewModels.ShowMovieViewModel
@{
    ViewBag.Title = "Movies";
}

<h3>Movies</h3>
<table class="table table-bordered table-hover">
    <tr>
        <td><h3>Movie</h3></td>
    </tr>

    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Name</td>
        </tr>
    }
    <tr>
</table>

